{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Krosmacarte - Cartes{% endblock %}

{% block fos_user_content %}

    <script>
        $(document).ready(function () {
            $('.radioType').change(function () {
                switch ($(this).val()) {
                    case 'crea' :
                        $("#formCrea").show();
                        break;
                    case 'sort' :
                        $("#formCrea").hide();
                        break;
                }
            });
            $('#dieu').change(function () {
                if($(this).val() === "Infinite") {
                    $("#formInfinite").show();
                    $("#formCrea").show();
                    $("#formNonInf").hide();
                }
                else{
                    $("#radioSort").prop("checked", true);
                    $("#formCrea").hide();
                    $("#formInfinite").hide();
                    $("#formNonInf").show();
                }
            });
        });

    </script>
    <h3>Création d'une carte</h3>

    <form id="formCreation" action="{{ path('valider_carte') }}" method="post" >
        <label for="nom">Nom de la carte (18 caractères max) :</label><input type="text" name="nom"/><br/>
        <label for="cout">Cout de la carte :</label><input type="number" name="cout"/><br/>
        <label for="pouvoir">Pouvoir de la carte (attention, 4 lignes max et 28 caractères par lignes seulement) :</label><br/>
        <textarea name="pouvoir" rows="4" cols="28"></textarea><br/>
        <label for="image">Image de la carte :</label><input type="text" name="image"/><br/>
        <label for="dieu">Dieu associé :</label>
        <select name="dieu" id="dieu">
            {% for dieu in dieux %}
                <option id="{{ dieu.nom }}">{{ dieu.nom }}</option>
            {% endfor %}
        </select><br/>
        <div id="formNonInf">
            <label for="rarete">Rareté :</label>
            <select name="rarete" id="rarete">
                {% for rarete in raretes %}
                    <option id="{{ rarete.nom }}">{{ rarete.nom }}</option>
                {% endfor %}
            </select><br/>
            <label for="niveau">Type de carte :</label>
            <input class="radioType" id="radioSort" type="radio" name="type" value="sort" checked> Sort
            <input class="radioType" id="radioCrea" type="radio" name="type" value="crea"> Créature<br>
        </div>
        <div id="formInfinite" hidden>
            <label for="niveau">Niveau de l'infinite :</label>
            <input class="radioNiveau" type="radio" name="niveau" value="1" checked> 1
            <input class="radioNiveau" type="radio" name="niveau" value="2"> 2
            <input class="radioNiveau" type="radio" name="niveau" value="3"> 3<br>
        </div>
        <div id="formCrea" hidden>
            <label for="pdv">Pdv de la créature :</label><input type="number" name="pdv"/><br/>
            <label for="atk">Atk de la créature :</label><input type="number" name="atk"/><br/>
            <label for="pm">PM de la créature :</label><input type="number" name="pm"/><br/>
            <label for="classe">Classe de la créature (24 caractères max) :</label><input type="text" name="classe"/><br/>
        </div>

        <label for="extension">Extension :</label>
        <select name="extension" id="extension">
            {% if not extension is defined %}
                    {% for extension in extensions %}
                        <option value="extension_{{ extension.id }}">{{ extension.nom }}</option>
                    {% endfor %}
            {% else %}
                <option value="extension_{{ extension.id }}">{{ extension.nom }}</option>
            {% endif %}
        </select><br/>
        <input type="submit" value="Valider"/>
    </form>
{% endblock %}