{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %} - {{ extension.nom }}{% endblock %}

{% block fos_user_content %}


    <h2>{{ extension.nom }}</h2>
    Créée le {{ extension.date | date('d/m/Y H:i:s') }}
    {% if app.user == extension.createur %}
        <a role="button" class="btn btn-success" href="{{ path('creation_carte_ext', { 'idExt': extension.id }) }}">Ajouter une carte</a>
    {% endif %}
    <div class="row">
        <div class="col-md-1"></div>
        {% for carte in extension.cartes %}
            <div class="col-md-2">
                <img src="{{ asset('creations/carte_'~carte.id~".png") }}" alt="" /><br/>

                {% if app.user == extension.createur %}
                    <a style="margin-left:10%;" role="button" class="btn btn-danger btn-sm" href="{{ path('supprimer_carte', { 'idCarte': carte.id }) }}">Supprimer</a>
                {% endif %}

                {% if app.user in carte.votes %}
                    <a  role="button" class="btn btn-info btn-sm" href="{{ path('voter_carte', { 'idCarte': carte.id }) }}">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"> Dislike <span class="badge">{{ carte.votes | length }}</span></span>
                    </a>
                {% else %}
                    <a  role="button" class="btn btn-default btn-sm" href="{{ path('voter_carte', { 'idCarte': carte.id }) }}">
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Like <span class="badge">{{ carte.votes | length }}</span></span>
                    </a>
                {% endif %}

            </div>
            {% if loop.index%5 == 0 and loop.index != 0%}
                </div>
                <div class="row">
                <div class="col-md-1"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}