{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Krosmacarte - {{ extension.nom }}{% endblock %}

{% block fos_user_content %}


    <h2>{{ extension.nom }}</h2>
    Créée le {{ extension.date | date('d/m/Y H:i:s') }}
    <div class="row">
    {% for carte in extension.cartes %}
        {% if loop.index0%6 == 0 %}
            </div>
            <div class="row">
        {% endif %}
        <div class="col-md-2">
            <img src="{{ asset('creations/carte_'~carte.id~".png") }}" alt="" /><br/>

            {% if app.user == extension.createur %}
                <a style="margin-left: auto;margin-right: auto;" role="button" class="btn btn-danger" href="{{ path('supprimer_carte', { 'idCarte': carte.id }) }}">Supprimer</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% if app.user == extension.createur %}
        <a role="button" class="btn btn-success" href="{{ path('creation_carte_ext', { 'idExt': extension.id }) }}">Ajouter une carte</a>
    {% endif %}
{% endblock %}