{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Krosmacarte - {{ extension.nom }}{% endblock %}

{% block fos_user_content %}


    <h2>{{ extension.nom }}</h2>
    Créée le {{ extension.date | date('d/m/Y H:i:s') }}
    <ul>
        {% for carte in extension.cartes %}
            <fieldset>
                <legend>{{ carte.nom }}</legend>
                Cout :{{ carte.cout }}PA<br/>
                Dieu :{{ carte.dieu.nom }}<br/>
                {% if not carte.creature is null %}
                    PM : {{ carte.creature.pm }}
                    Atk : {{ carte.creature.atk }}
                    Pdv : {{ carte.creature.pdv }}<br/>
                    Classe : {{ carte.creature.classe }}<br/>
                {% endif %}
                Pouvoir : {{ carte.pouvoir }}<br/>


                {% if app.user == extension.createur %}
                    <a role="button" class="btn btn-danger" href="{{ path('supprimer_carte', { 'idCarte': carte.id }) }}">Supprimer</a>
                {% endif %}
            </fieldset>
        {% endfor %}
    </ul>
    {% if app.user == extension.createur %}
        <a role="button" class="btn btn-success" href="{{ path('creation_carte_ext', { 'idExt': extension.id }) }}">Ajouter une carte</a>
    {% endif %}
{% endblock %}