{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Krosmacarte - Extensions{% endblock %}

{% block fos_user_content %}

    <h3>Liste des extensions</h3>

    <ul>
        {% for extension in extensions %}
            <fieldset>
                <legend><a href="{{ path('affichage_extension', { 'idExt': extension.id }) }}">{{ extension.nom }}</a></legend>
                Créé par {{ extension.createur }}<br/>
                {{ extension.cartes|length }} cartes
                {% if app.user == extension.createur %}
                    <a href="{{ path('creation_carte_ext', { 'idExt': extension.id }) }}">Ajouter une carte à l'extension</a>
                {% endif %}
            </fieldset>

        {% endfor %}
    </ul>

{% endblock %}