{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %} - Cartes{% endblock %}

{% block fos_user_content %}

    <h2>Liste des cartes</h2>


    <div class="row">
        <div class="col-md-1"></div>
        {% for carte in cartes %}
            <div class="col-md-2">
                <img src="{{ asset('creations/carte_'~carte.id~".png") }}" alt="" /><br/>
                <a  style="margin-left:7%;" role="button" class="btn btn-primary btn-sm" href="{{ path('affichage_extension', { 'idExt': carte.extension.id }) }}">{{ carte.extension.nom }}</a>
                {% if app.user in carte.votes %}
                    <a  role="button" class="btn btn-info btn-sm" href="{{ path('voter_carte', { 'idCarte': carte.id }) }}">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"> Dislike <span class="badge">{{ carte.votes | length }}</span></span>
                    </a>
                {% else %}
                    <a  role="button" class="btn btn-default btn-sm" href="{{ path('voter_carte', { 'idCarte': carte.id }) }}">
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Like <span class="badge">{{ carte.votes | length }}</span></span>
                    </a>
                {% endif %}
            </div>
            {% if loop.index%5 == 0 and loop.index != 0%}
                </div>
                <div class="row">
                <div class="col-md-1"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-offset-4 col-md-4">
        <ul class="pagination col-md-offset-4 col-md-4">
            {% if nbPages == 1 %}<li class="active"><a href="{{ path('liste_cartes') }}">1</a></li>
            {% elseif currentPage > 1 and currentPage < nbPages %}
                <li><a href="{{ path('liste_cartes') }}">1</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li class="active"><a  href="{{ path('liste_cartes',{ 'page': currentPage }) }}">{{ currentPage }}</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li><a href="{{ path('liste_cartes',{ 'page': nbPages }) }}">{{ nbPages }}</a></li>
            {% elseif currentPage == 1 %}
                <li class="active"><a href="{{ path('liste_cartes') }}">1</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li><a href="{{ path('liste_cartes',{ 'page': nbPages }) }}">{{ nbPages }}</a></li>
            {% else %}
                <li><a href="{{ path('liste_cartes') }}">1</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li class="active"><a href="{{ path('liste_cartes',{ 'page': currentPage }) }}">{{ currentPage }}</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}